body
{
	border: 10px double #FF9300;
}

h1
{
	text-align: center;
	color: blue;
	font-size: 50px;
}

.contenedorabc table 
{
	margin: auto;
}

.contenedorabc table tr 
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contenedorabc th
{
	background-color: black;
	color: white;
	font-size: 50px;
	border-radius: 10px 10px 0 0 ;
	padding: 20px;
}

.contenedorabc td
{
	border-radius: 10px;
	padding: 20px;
	background-color: grey;
	text-align: center;
	font-size: 80px;
	transition: all 0.5s 0s linear;
	color: transparent;
}
.contenedorabc tr td:nth-child(1){
	background: linear-gradient( 0deg,  #FF9300, #E9EAF7, #FF9300 );  
}
.contenedorabc tr td:nth-child(2){
	background: linear-gradient( 0deg, #FF9300, #E9EAF7, #FF9300 );
}
.contenedorabc tr td:nth-child(3){
	background-color: #FFD090;
	color: black;
	clip-path: polygon(0% 50%, 0% 0%, 100% 0px, 100% 0px, 100% 100%, 100% 100%, 0% 100%);
	transition: all 0.5s 0s linear;
}
.contenedorabc tr:hover td:nth-child(3){
	clip-path: polygon(0% 50%, 40% 0%, 30% 35%, 70% 40%, 70% 65%, 30% 68%, 40% 100%);
	font-size: 0px;
}
.contenedorabc tr:hover > td{
	color: black;
	font-size: 80px;
	background: linear-gradient( 90deg, #F7E37F, #48D7FA, #F7E37F );
}

.contienepreguntasabc table td, .contienepreguntasabc table th
{
	width: 100%;
	text-align: left;
	padding: 5px;
	font-size: 60px;
}

.contienepreguntasabc
{
	padding: 5%;
	background: linear-gradient( 0deg, #FF9300, #E9EAF7); 
}
.sb
{
	padding: 1%;
	background-color: #FBD8AD;
	font-size: 50px;
}

.nm
{
	filter: opacity(0);
	overflow: hidden;
	height: 0px;
}
.Answer
{
	color: red;
}
.Question
{
	color: #8228F1;
}
.Answer::after
{
	content: "\025bc";
	position: relative;
}
.Answer:hover > .nm
{
	background: linear-gradient( 90deg, #F7E37F, #48D7FA, #F7E37F );
	transition: all 1.5s 0s linear;
	filter: opacity(1);
	height: auto;

}
.Answer:hover::after
{
	content: "";
}

.divhome
{
	content: url(../imgproyectoingles/h.png);
}
.aregreso::after
{
	content: url(../imgproyectoingles/regresar.jpg);
}
.asiguiente::after
{
	content: url(../imgproyectoingles/siguiente.jpg);
}

@media (min-width: 1024px) {

	.contenedorabc tr td:nth-child(1), .contenedorabc tr td:nth-child(2), .contenedorabc tr td:nth-child(3)
	{
		font-size: 50px;
	}
	h1
	{
		font-size: 50px;
	}
}

@media (min-width: 1440px){
	.contienepreguntasabc table td, .contienepreguntasabc table th
	{
		padding: 5px;
	}
}
@media (min-width: 2560px) {
 	.contenedorabc tr td:nth-child(1), .contenedorabc tr td:nth-child(2), .contenedorabc tr td:nth-child(3), .contenedorabc th
	{
		font-size: 80px;
	}
	h1
	{
		font-size: 80px;
	}
	.sb
	{
		font-size: 70px
	}
	.contienepreguntasabc table td, .contienepreguntasabc table th
	{
		font-size: 60px;
	}
}

