/*--------------------------------------------------FONDO DIBUJAR Y SUSTO--------------------------------------------------------------------*/
*
{
	margin: 0;
	padding: 0;
	/*border: 1px solid yellow; */
	color: white;
}

.contenedorImagenes
{
	background-image: url('../portafoliojuan2019_images/blanco.jpg');
	background-repeat: no-repeat;
	background-color: black;
	background-size: 100% 425px;
	width: 100%;/*el tamaño del contenedor*/
	height: 425px;

}

.contenedorSusto
{
	background-color: transparent;
	/*background-image: url("../portafoliojuan2019_images/saltaseñora.gif");*/
	background-repeat: no-repeat;
	background-size: 100% 425px;
	width: 100%;
	height: 425px;
	overflow: hidden;/*el canvas tiene un tamano de 3000 x 3000 y ocultamos el rebosante asi podemos manipular el ancho de este elemento para el diseño responsive*/
}

canvas
{
	background-color: transparent;
	cursor: pointer;
}

/*----------------------------------------------FORMATO DE SELECCION DE IMAGENES----------------------------------------------------------------------------*/
.contenedorCartasImagenes
{
	 perspective:1900px;
	 background-color: ;
}

.contenedorCartas
{
  background-color: ;
  transform-style:preserve-3d;
  padding: 1%;
}

.caraformatobasico
{
  width: 125px;
  height: 175px;
  border: 1px solid black;
  box-shadow: 3px 3px 10px 5px grey;
  border-radius: 10px;
  background-color: black;
  display: inline-block;
  margin-left: 11px;
  transform:rotate3D(0, 1, 0, 0deg);
}

.classcara, .classcara1
{
  transition:all 0.5s 0s linear;
}

.contenedorCartas > .classcara
{
  transform:rotate3D(0, 1, 1, 180deg);
}
.contenedorCartas > .classcara1
{
  transform:rotate3D(0, 1, 1, 0deg);
}

#idcara1
{
	background-image: url(../portafoliojuan2019_images/batman.jpg);
	background-size: 100% 100%;
}
#idcara2
{
	background-image: url(../portafoliojuan2019_images/Une-los-puntos.png);
	background-size: 100% 100%;
}
#idcara3
{
	background-image: url(../portafoliojuan2019_images/unepuntoscangrejo.gif);
	background-size: 100% 100%;
}
#idcara4
{
	background-image: url(../portafoliojuan2019_images/spiderman.jpg);
	background-size: 100% 100%;
}

.borrar
{
	width: 50%;
	height: 50%;
	margin-left: 2%;
	background-color: green;
	color: white;
	border-radius: 100% 100% 0 0;
}

/*-----------------------------------------------DISEÑO RESPONSIVE------------------------------*/
@media (min-width: 35px) {
  
}
@media (min-width: 350px){
  .caraformatobasico
  {
  	margin-left: 38px;
  }
}
@media (min-width: 405px){
  .caraformatobasico
  {
  	margin-left: 50px;
  }
}
@media (min-width: 728px){
  .contenedorCartas
  {
    padding-left: 0.6%;
  }
}

@media (min-width: 1000px){
  .contenedorImagenes
  {
	background-size: 100% 600px;
	height: 600px;
  }

  .contenedorSusto
  {
	height: 600px;
  }
  .borrar
  {
	height: 30px;
	font-size: 20px; 
  } 

}
@media (min-width: 1400px){
  .contenedorImagenes
  {
	background-size: 100% 700px;
	height: 700px;
  }

  .contenedorSusto
  {
	height: 700px;
  } 
  .caraformatobasico
  {
  width: 150px;
  height: 275px;
  }
  .borrar
  {
	font-size: 23px; 
  } 
}

@media (min-width: 2520px){
  .contenedorImagenes
  {
	background-size: 100% 1200px;
	height: 1200px;
  }

  .contenedorSusto
  {
	height: 1200px;
  } 
  .caraformatobasico
  {
  width: 300px;
  height: 500px;
  }
  .borrar
  {
	height: 50px;
	font-size: 50px; 
  } 
}